/*
Stylesheet for Patient Dashboard.
Ron Akanowicz


*/

@import url("normalize.css");

/* Heading stuff 
*/

html {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #ccc;
}

* {
  box-sizing: border-box;
}

.header {
	height: 80px;
  border: 1px solid #999;
  border-radius: 6px;
	margin: 10px 20px;
  background-color: white;
}

h1 {
  font-size: 1.4rem;
	margin-top: 0;
	padding: 30px 0px 0px 20px;
  color: #666;
}

.nav-0 {
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 0px;
    right: 20px;
}

.nav-1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}


.nav-0>li, .nav-1>li {
    display: inline;
    margin-right: 20px;
}


.nav-0 a {
  font-size: .8rem;
  margin-left: 8px;
}

.nav-1 a {
  font-size: .9rem;
}

.sortBy {
  font-size: .7rem;
  margin: 0px 0px 8px 20px;
}

.nav1 {
  /*padding: 8px 20px;*/
  margin: 10px 20px;
  background-color:white;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0px;
  border-bottom: 1px solid #666;
  border-radius: 6px;
  z-index: 10;
}

.patientCount>p {
  padding: 10px;
  margin: 5px 10px;
}

.time {
  float: right;
}

/* summaryBlock stuff 
*/

section {
  float: left;
  padding: 20px;
  width: 100%;  /* On mobile devices < 600px the sections will stack */
}

.gauge {
  margin: auto;
}

.summaryBlock {
	border-bottom: 1px dotted #ccc;
	padding: 20px;
}

/*#patientCount {
  display: inline-block;
}*/

#theCount::after {
	content: " Patients";
}

/* main stuff 
*/

.main {
	padding: 20px 20px 40px;
}


.patientData {
	margin: 0px 0px 0px 10px;
	/*line-height: 1.5;*/
}


/* This section syles the patient blocks 
on the dashboard. There are style classes for when
a reading crosses a certain threshold. */



.patientBlock {
  min-width: 300px;
  padding: .5rem;
  margin: .25rem;
  margin-bottom: 20px;
  border: 1px solid #666;
  position: relative;
  background-color: white;
  border-radius: 6px;

}

.selectedBlock {
  border: 1px solid red;
}

h2 {
  margin-left: 35px;
}

h3 {
  font-size: 1.2rem;
  color: #666;
  margin: 10px 20px 0px 0px;

}

.patientContent-1 h3 {
    border-bottom: 1px solid #ccc;

}

h4 {
  font-size: 1rem;
  color: #666;
  margin: 0px 0px 10px 10px;
}

h5 {
  margin: 5px 0px 10px 0px;
}



.readingBlock {
  font-size: 1rem;
  /*position: relative;*/
}

p {
  margin: 0 -.5rem;
  padding: 0 .5rem;
  /*position: relative;*/
}

p>strong {
  float: right;
}

strong.up::before {
  content: attr(data-change-percent) '% ⇡ ';
  color: red;
  margin-right: .5rem;
}

strong.down::before {
  content: attr(data-change-percent) '% ⇣ ';
  color: green;
  margin-right: .5rem;
}

p:nth-child(even) {
  background-color: rgba(0,0,0,.1)
}

.high-reading::after {
  content:'';
  position: absolute;
  background-color: red;
  height: .5rem;
  width: .5rem;
  border-radius: 50%;
  right: 50%;
  transform: translateY(.5rem);
}


.fas {
  position: absolute;
  top: 5px;
  right: 5px;
}

.fa-plus {
  color: lightgray;
  transform: rotate(0deg);  /* Set the icon initial rotation value */
  transition: transform .5s ease-in; /* Add the transition for smooth rotation */
}

.fa-plus.spin {
  transform: rotate(45deg); /* Rotate the arrow when the spin class is added */
}

@media (min-width: 600px) {
  section {
    width: 50%; /* On devices > 600px the sections will be in 2 columns */
  }
}
@media (max-width:576px) {

.patientContent-1, .patientContent-2

}
